*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* nav start  */
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(182, 181, 181);
    padding: 20px 10px;
}
.nav-logo{
    display: flex;
    color: aqua;
    align-items: center;
}
.items, .items>li , .items>li>a{
    display: flex;
    list-style: none;
    margin-right: 20px ;
    text-decoration: none;
    color: white;
}
/* nav end  */
/* nav banner start  */
.nav-banner-container{
    color: white;
    background-image: url('./image/background.jpg'),linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.9));
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.nav-banner-title{
    font-size: 60px;
    color: white;
    font-weight: 800;
}
.primary{
    color: orangered;   
}
.nav-banner-text{
    font-size: 18px;
    margin: 10px 0px;
}
.btn{
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
}
.bg-primary{
    background-color: orangered;
    color: white;
}
/* nav banner end  */